.leftList {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
}
.badge-notify {
    background: red;
    position: relative;
    top: -15px;
    left: -19px;
}
.w100 {
    width: 100%!important;
}
.avatar-list-img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-right: 1rem;
}

.list-title {
    color: black;
    text-wrap: avoid;
    font-size: 1.1rem;
}
.list-subtitle {
    color: #ccc;
    text-wrap: none;
    font-size: 0.8rem;
}
.ts-left {
    color: #ccc;
    font-size: 0.8rem;
    vertical-align: top;
    font-weight: bold;
    float: right;
}
.history {
    height: 100%;
    background-color: aliceblue;
    margin-bottom: 1rem;
}
.empty-div {    
}
.hovered:hover {
    color: blue;
}

